# Set whether user is initially asked if they want to report an issue.
#
# When true will go straight to selecting issue type
always_report: true

# Set a grace period for metrics, this can allow for time for any remote commands or
# parallel tasks to have a chance to finish before program proceeds
metric_grace_period: 5

# Set a grace period for diagnostics, this can allow for time for any remote commands or
# parallel tasks to have a chance to finish before program proceeds
diagnostic_grace_period: 5

# Set whether user is given option to view the diagnostics which have been generated
#
# When true will not give the user the option (and no output will be shown)
hide_diagnostics: true

# Set whether user is given option to view comparison with previous diagnostics
#
# When true will not give the user the option (and no output will be shown)
hide_compare: true

# Set whether user is asked to confirm if they want to send (save) the diagnostic
# report they've run.
#
# When true it will always save to var/reports
always_send: true

# Set whether to use emojis in the application.
#
# When true it will use emojis and when false it will replace the emojis used
# for traffic light ratings and status updates with appropriate standard characters.
enable_emojis: true

# Set which users are offered the option to run administrative checks
#
# Any users in this list that run the check command will additionally be asked if they
# want to run administrative checks and will be prompted for a password to decrypt 
# the administrative check files
#
# Additionally, these users will have their check saved as a report
privileged_check_users:
- root

# Specify additional directory for checks to be sourced from
#
# If this is set then checks will additionally be presented from here to users
# sitechecksdir: /opt/site/scripts
